$blueColor: #1b74e7;
$whiteColor: #ffffff;
$grayColor: #e4e6eb;
$grayColorLv1: #606060;
$blackColorLv1: #050505;
$textColor: #000000;
$orangeColor: #f37021;
$dangerColor: #ce1212;

$smallIconSize: 46px;

$productImageHeight: 300px;
