@import "/src/scss/importer";

.button {
  @extend %button;
  display: block;
  background-color: $blueColor;
  color: $whiteColor;
}
.pageWrapper {
  .pageContent {
    .pageBody {
      @extend %flex_center;
      height: 100vh;
      .hosts {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .title {
          font-weight: bold;
        }

        .listhost {
          padding: 20px 0px;
          flex: 1;
          width: 100%;
          .hostline {
            text-align: center;
            .hostname {
              padding: 5px 10px;
              border-radius: 100px;
              color: $dangerColor;
              margin-bottom: 10px;
              &.active {
                color: $textColor;
              }
              &.active2 {
                color: $blueColor;
              }
            }
          }
        }
      }
      .main {
        flex: 1;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .title {
          font-weight: bold;
          font-size: 2rem;
          text-align: left;
          width: 100%;
        }
        .serverInfo {
          width: 100%;
          padding: 20px;
          .groupInfo {
            .label {
              font-weight: bold;
            }
            .value {
            }
          }
        }
        .serverMethod {
          width: 100%;
          .button {
            padding: 10px 20px;
            border: none;
            outline: none;
            border-radius: 100px;
            background: $blueColor;
            color: $whiteColor;
          }
        }
        .requests {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          min-height: 500px;
          > div {
            min-height: 100%;
            width: 48%;
            .title {
              font-size: 1rem;
              margin-bottom: 20px;
            }
            .req {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              margin-bottom: 10px;
              border: 2px solid $grayColor;
              padding: 20px;
              border-radius: 10px;
              &:last-child {
                margin-bottom: 0;
              }
              .ip {
                width: 100%;
                font-size: 0.8rem;
                font-weight: bold;
              }
              .more {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 0.7rem;
                .status {
                  margin-top: 10px;
                  font-weight: bold;
                  font-size: 0.5rem;
                  border-radius: 100px;
                  padding: 5px 10px;
                  background-color: $blueColor;
                  color: $whiteColor;
                  &.active {
                    background-color: $orangeColor;
                    color: $whiteColor;
                  }
                }
              }
            }
          }
          .ortherRequest {
            min-height: 100%;
            width: 48%;
          }
        }
      }
    }
  }
}
